/* Profile Side Bar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #C5DFF8;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
   /*transition: all 0.4s ease;*/
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  /*transition: all 0.3s ease;*/
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  color: #fff;
  background-color: #4A55A2;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}
.menu_container::-webkit-scrollbar {
  display: none;
}

/* Modal Styles */
.modal-dialog {
  max-width: 500px; /* Adjust the width as needed */
  z-index: 1060;
  position: static;
}

.modal-content {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 3000;
  position: static;
}

.modal-header {
  background-color: #4A55A2;
  color: white;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  z-index: 1050;
  position: static;
}

.modal-body {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: #333;
  z-index: 1050;
  position: static;
}

.modal-footer {
  background-color: #f8f9fa;
  padding: 10px 20px;
  z-index: 1050;
  position: static;
}

.modal-backdrop {
  z-index: 1030 !important;
  pointer-events: none;
  display: none;
}

.modal-container {
  z-index: -1;
  position: static;
}

.modal.fade.show {
  z-index: 1040;
  transform: none;
  opacity: 1;
}

/* Button styles for modal */
#modalCloseUserNameBtn, #modalSaveUserNameChanges,
#modalClosePasswordBtn, #modalSavePasswordChanges,
#modalCloseLogoutBtn, #modalLogout {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

#modalSaveUserNameChanges, #modalSavePasswordChanges, #modalLogout {
  background-color: #4A55A2;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #707070;
  color: white;
  border: none;
}

/* Styling for modal trigger buttons */
.sidebar .link.flex.btn.btn-link {
  background-color: transparent;
  color: #707070;
  /*transition: color 0.3s ease;*/
}

.sidebar .link.flex.btn.btn-link:hover {
  color: #fff;
  background-color: transparent;
}

.sidebar .link.flex.btn.btn-link i {
  margin-right: 10px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}

/* lesson and quiz modal */

.lesson-quiz-modal .modal-dialog {
  max-width: 800px; /* Adjust based on your content */
}

.lesson-quiz-modal .btn-close {
  color: #fff; /* Adjust close button color for visibility */
}

.lesson-quiz-modal .modal-body {
  padding: 20px;
  overflow-y: auto; /* Makes the body scrollable */
}

.lesson-quiz-modal .modal-footer button {
  background-color: #4A55A2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  /*transition: background-color 0.3s;*/
}

.lesson-quiz-modal .modal-footer button:hover {
  background-color: darken(#4A55A2, 10%);
}


/* Cards and body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
    background: #7895CB;
}

H1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    /*transition: border 0.5s ease;*/
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #4A55A2; 
    color: #fff;
}
.card-list .designer {
    background-color: #4A55A2;
    color: #fff;
}
.card-list .editor {
    background-color: #4A55A2; 
    color: #fff;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    /*transition: 0.2s ease;*/
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}

/* Progress Bar */

@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 30px;
  width: 100%;
  background: #f0f0f0;
  position: center;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #4A55A2;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100%{
    opacity: 1;
  }
}


.bar .progress-line.html span::before {
  content: attr(data-percentage); /* Use a data attribute to set the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Text color */
}

.bar .progress-line.html span{
  /* existing styles */
  position: relative; /* If not already set, for the positioning of the text */
  overflow: hidden; /* To keep the text within the bar */
  white-space: nowrap; /* Keep the text on one line */
}



